page-report-mypets {
  .item-md .item-button {
    padding: 0 0.6em;
    height: 40px!important;
    font-size: 1.6rem!important;
  }
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  img{
    padding-top: 0.4rem;
    border-radius: 50%;
  }
}
